<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}"/>
        <title>{{title}}</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'reload.js') }}"></script>
    </head>
    <body>
        <div id="debug">
            <pre id="timeupdate">No data</pre>
            <pre id="flagupdate">No data</pre>
            <pre id="statusupdate">No data</pre>
        </div>
        <table class="noborder">
            <tr width="100%">
                <td class="l-border"></td>
                <td class="data">
                    <p class="status" id="status">Свет включен.</p>
                </td>
                <td class="r-border"></td>
            </tr>
            <tr>
                <td class="l-border"></td>
                <td class="data">
                    <a id='abutton' href='javascript:switchto(ON)'>
                        <img id='ibutton' src="{{ url_for('static', filename = 'switch-on-button.png') }}">
                    </a>
                </td>
                <td class="r-border"></td>
            </tr>
            <tr>
                <td class="l-border"></td>
                <td class="data">
                    <p class="autoButton"><a style="display:none" id="autobutton"href="javascript:switchto('soft')">Включить автоматический режим</a></p>
                </td>
                <td class="r-border"></td>
            </tr>
            <tr>
                <td class="l-border"></td>
                <td class="data">
                    {% if flag == "ON" %}
                        <p class="warning">Свет включен вручную!</p>
                    {% elif flag == "OFF" %}
                        <p class="warning">Свет выключен вручную!</p>
                    {% endif %}
                </td>
                <td class="r-border"></td>
            </tr>
        </table>
    </body>
</html>